<div class="mb-5 d-flex justify-content-between main-loop-card">
<div class="pr-3">
	<h2 class="mb-1 h4 font-weight-bold">
	<a class="text-dark" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
	</h2>
	<p class="excerpt">
	   {{ post.excerpt  | strip_html | strip_newlines | truncate: 186}}
	</p>
	<small class="d-block text-muted">
		В <span class="catlist">
		{% for category in post.categories %}
		<a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/category/{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
		{% endfor %}
		</span>
	</small>
	<small class="text-muted">
		{{ post.date | date: '%b %d, %Y' }}
		{% if page.modified %}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong>
            <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">
              {{ page.modified | date: "%-d" }}
              {% assign month = page.modified | date: '%-m' %}
              {% case month %}
                {% when '1' %}января
                {% when '2' %}февраля
                {% when '3' %}марта
                {% when '4' %}апреля
                {% when '5' %}мая
                {% when '6' %}июня
                {% when '7' %}июля
                {% when '8' %}августа
                {% when '9' %}сентября
                {% when '10' %}октября
                {% when '11' %}ноября
                {% when '12' %}декабря
              {% endcase %}
              {{ page.modified | date: "%Y" }}
            </time>
          </p>
        {% elsif page.date %}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong>
            <time datetime="{{ page.date | date_to_xmlschema }}">
              {{ page.date | date: "%-d" }}
              {% assign month = page.date | date: '%-m' %}
              {% case month %}
                {% when '1' %}января
                {% when '2' %}февраля
                {% when '3' %}марта
                {% when '4' %}апреля
                {% when '5' %}мая
                {% when '6' %}июня
                {% when '7' %}июля
                {% when '8' %}августа
                {% when '9' %}сентября
                {% when '10' %}октября
                {% when '11' %}ноября
                {% when '12' %}декабря
              {% endcase %}
              {{ page.date | date: "%Y" }}
            </time>
          </p>
        {% endif %}
	</small>
</div>
{% if post.image %}
	<div class="col-md-3 pr-0 text-right">
	<a href="{{site.baseurl}}{{post.url}}">
	<img class="w-100" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
	</a>
	</div>
{% endif %}
</div>